body{
    background-color: #1a2639;
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: #c24d2c;
}

select{
    background-color: #3e4a61;
    font-family: 'Audiowide', cursive;
    color: #c24d2c;
    font-size: 1.5rem;
}

.title{
    font-size: 6rem;
    height: 11rem;
}

.fas{
    font-size: 9rem;
    margin: 3rem 5rem;;
}

.side{
    color: #c24d2c;
    display: inline;
}

.selectFighter{
    margin-bottom: 6rem;
}

.button{
    color: #3e4a61;
}

.button:hover{
    color: #d9dad7;
}

.pressed{
    color: #c24d2c;
}

.pressed:hover{
    color: #c24d2c;
}

.point{
    font-size: 2rem;
    display: block;

}

.difficulty{
    font-size: 2rem;
}
